@import url("https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 23px;
  text-transform: uppercase;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 57px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.header .top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header .top-line__main-menu {
  margin-left: 49px;
}

.header .top-line__main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.header .top-line__main-menu ul a {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.header .top-line__phone-number {
  margin-left: auto;
  margin-right: 0;
}

.header .top-line__phone-number a {
  font-size: 17px;
  line-height: 26px;
  color: #ffffff;
}

.first-screen {
  width: 100vw;
  height: 100vh;
  background: url(/images/header-bg.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-screen__h1-subtitle {
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.first-screen__h1-title {
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 28px 0 0 -3px;
  line-height: 88px;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.first-screen__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 238px;
  height: 57px;
  border: 1px solid #FFFFFF;
  margin: 52px 0 0 0;
}

.first-screen__button a {
  display: block;
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.h2-title {
  margin: 127px 0 0 0;
}

.articles {
  margin: 81px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3.07692%;
          column-gap: 3.07692%;
}

.article {
  max-width: 48.20513%;
}

.article__article-announcement {
  margin: 39px 0 0 0;
  line-height: 26px;
  text-align: justify;
}

.gallery {
  margin: 67px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery img {
  height: 344px;
}

footer {
  padding: 114px 0 113px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 55px;
          column-gap: 55px;
}

footer .copyright-left {
  font-size: 15px;
  line-height: 20px;
}

footer .copyright-right {
  font-size: 15px;
  line-height: 20px;
}
